body {
	margin: 10px;
	background-color: Linen;
}

.title {
	height: 50px;
}

.slider-label {
	font-weight: bold;
}
.slider-group {
	height: 50px;
}

.graph {
	border: 1px;
	display: inline-block;
	position: absolute;
	top: 130px;
}

.x-label {
	position: relative;
	top: -2px;
}


.x-slider {
	position:relative;
	top: -35px;
	left: 75px;
}

.x-input {
	position: relative;
	width: 50px;
	left: 165px;
}

.graph {
	margin: 10px;
}

.reflectivity-graph {
}

.spectrum-graph {
	position: absolute;
	left: 705px;
}

.content {
	margin: 10px;
}

.position-slider {
	width: 150px;
	margin: 5px;
}

