<!DOCTYPE html>
<html ng-app='wellTieApp'>
  <head>
    <title>Well Tie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	 <link href="static/css/welltie.css" rel="stylesheet">
  </head>
  <body ng-controller='wellTieController'>

    <h1 class="title">Well Tie</h1>
	<div class="content">
	<div class="slider-group">
		X Position <div class="slider position-slider x-slider"/>
	</div>
	<div class="slider-group">
		Y Position <div class="slider position-slider y-slider"/>
	</div>
	<img class="graph" src="/plot"></img>
	</div>

	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/angular-1.2.26/angular.js"></script>
    <script src="static/js/jquery-1.11.1.min.js"></script>
	<script src="static/js/welltieapp.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<script>
		$(function() {
    		$( ".slider" ).slider();
  		});
	</script>
  </body>
</html>
